:root {
  --primary: #12162d;
  --primary-text: #fbd301;
  --secondary: #8cff9b;
  --secondary-text: #12173d;
  --accent: #ac3232;
  --accent-text: #ffffff;
}

.footer{
  margin-top: 1rem;
  padding: 1rem;
  background-color: rgb(235, 195, 64);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.social-container {
  padding: 25px 50px;
}

a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}


a.twitter {
  color: #49a1eb;
}

a.telegram {
  color: #0088cc;
}
